

 <!DOCTYPE html>
<html>
<body>

<h2>Edit Module</h2>

<form action="/editModule>" method="POST">
  <label for="mID">Module ID:</label><br>
  <input type="text" id="ID" name = "ID" value=""><br>
  <label for="mname">Name:</label><br>
  <input type="text"  name="name" value=""><br>
  <label for="credits">Credits:</label><br>
  <input type="number" id="credits" name="credits" value=""><br>
  <input type="submit" value="Add">
</form> 



</body>
</html>

<a href="http://localhost:3000/">Home</a> 