<ul>
    <a href="http://localhost:3000/modules">List Modules</a>
    <br>
    <a href="http://localhost:3000/students">List Students </a>
    <br>
    <a href="http://localhost:3000/showLecturers">List Lecturers</a>
</ul>